<a href="https://colab.research.google.com/github/ramdarsh/datascience_projects/blob/main/Recommendation_System_for_Retail_Stores.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules
from mlxtend.preprocessing import TransactionEncoder

In [2]:
df = pd.read_csv('/content/groceries.csv', names = ['Products'], sep = ',')
df.head()

                                            Products
0  citrus fruit, tropical fruit, whole milk, butt...
1  citrus fruit, semi-finished bread, margarine, ...
2  tropical fruit, yogurt , coffee, citrus fruit,...
3                   whole milk, butter, curd, coffee
4  pip fruit, yogurt, cream cheese, chocolate, wh...

In [3]:
df.shape

(8, 1)

In [4]:
df.isnull().sum()

Products    0
dtype: int64

In [5]:
data = list(df["Products"].apply(lambda x:x.split(",") ))
data

[['citrus fruit',
  ' tropical fruit',
  ' whole milk',
  ' butter',
  ' curd',
  ' coffee'],
 ['citrus fruit', ' semi-finished bread', ' margarine', '  tropical fruit'],
 ['tropical fruit',
  ' yogurt ',
  ' coffee',
  ' citrus fruit',
  ' chocolate',
  ' whole milk'],
 ['whole milk', ' butter', ' curd', ' coffee'],
 ['pip fruit', ' yogurt', ' cream cheese', ' chocolate', ' whole milk'],
 ['coffee', ' whole milk', ' condensed milk', ' yogurt', ' chocolate'],
 ['whole milk', ' butter', ' yogurt', ' chocolate'],
 ['tropical fruit', ' white bread', ' bottled water', ' citrus fruit']]

In [ ]:
a = TransactionEncoder()
a_data = a.fit(data).transform(data)
df = pd.DataFrame(a_data,columns=a.columns_)
df = df.replace(True,1)
df = df.replace(False,0)
df

In [9]:
df = apriori(df, min_support = 0.2, use_colnames = True)
df

    support                            itemsets
0     0.375                           ( butter)
1     0.500                        ( chocolate)
2     0.250                     ( citrus fruit)
3     0.375                           ( coffee)
4     0.250                             ( curd)
5     0.500                       ( whole milk)
6     0.375                           ( yogurt)
7     0.250                      (citrus fruit)
8     0.250                    (tropical fruit)
9     0.250                        (whole milk)
10    0.250                  ( coffee,  butter)
11    0.250                    ( curd,  butter)
12    0.250               (whole milk,  butter)
13    0.375           ( whole milk,  chocolate)
14    0.375               ( yogurt,  chocolate)
15    0.250     (tropical fruit,  citrus fruit)
16    0.250                    ( curd,  coffee)
17    0.250              ( whole milk,  coffee)
18    0.250              ( whole milk,  yogurt)
19    0.250           ( curd,  coffee,  butter)
20    0.250  ( whole milk,  chocolate,  yogurt)

In [10]:
df_ar = association_rules(df, metric = "confidence", min_threshold = 0.8)
df_ar

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,( curd),( butter),0.250,0.375,0.250,1.0,2.666667,0.15625,inf
1,(whole milk),( butter),0.250,0.375,0.250,1.0,2.666667,0.15625,inf
2,( yogurt),( chocolate),0.375,0.500,0.375,1.0,2.000000,0.18750,inf
3,(tropical fruit),( citrus fruit),0.250,0.250,0.250,1.0,4.000000,0.18750,inf
4,( citrus fruit),(tropical fruit),0.250,0.250,0.250,1.0,4.000000,0.18750,inf
5,( curd),( coffee),0.250,0.375,0.250,1.0,2.666667,0.15625,inf
6,"( curd, coffee)",( butter),0.250,0.375,0.250,1.0,2.666667,0.15625,inf
7,"( curd, butter)",( coffee),0.250,0.375,0.250,1.0,2.666667,0.15625,inf
8,"( coffee, butter)",( curd),0.250,0.250,0.250,1.0,4.000000,0.18750,inf
9,( curd),"( coffee, butter)",0.250,0.250,0.250,1.0,4.000000,0.18750,inf
10,"( whole milk, yogurt)",( chocolate),0.250,0.500,0.250,1.0,2.000000,0.12500,inf